#loginContainer {
  padding-top: 1rem;
}

#createBtnContainer {
  padding: 0 2rem 0 2rem;
}

#createAcctBtn {
	background-color: #3f647b;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }