#appContainer, #changePassContainer {
  padding-top: 1rem;
}

#createBtnContainer {
  padding: 0 1rem 0 1rem;
}

#createAcctBtn {
	background-color: #3f647b;
	margin-top: 1rem;
}

.nav-a {
	margin-top: 1rem;
}
.user-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }