#login-box {
  padding-top: 1rem;
}

#createBtnContainer {
  padding: 0 1rem 0 1rem;
}

#createAcctBtn {
  margin-top: 1rem;
}

.user-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px;
}
.compare-form {
  margin: 1rem 0 1rem;
}

.menu-centered {
  background-color: #dbe5ea;
  border-bottom: 1px;
}

.user-item {
	margin-bottom: 1rem;
}

.nav {
  font-size: 2rem;
}